In [ ]:
# ; 튜플 ()
# ; 가장 기본적인 리스트의 형태
# ; 데이터의 수정 불가

In [6]:
tuple_num = (1,2,3,4)
print(tuple_num)
# 3을 출력하려면
print(tuple_num[2])

(1, 2, 3, 4)
3

In [8]:
#튜플안에 튜플가능
tuple_num_2 = ((1,2,3), (4,5,6))
print(tuple_num_2)
#5라는 숫자면 출력을 하고 싶다면
print(tuple_num_2[1][2])

((1, 2, 3), (4, 5, 6))
6

In [3]:
# 리스트 []
# 리스트와 튜블의 차이는 ? -> 데이터의 수정이 가능 유무
list_num = [1,3,4,5, "a"]
print(list_num)

[1, 3, 4, 5, 'a']

In [9]:
# 딕셔너리 {}
# {'key1' : 'value1', 'key2' : 'value2'}

dict_num = {"name" : "test", "phone" : "01033443232"}
# test를 출력하려면 
print(dict_num["name"])

test

In [ ]:
# 왜 리스트형태가 아닌 딕셔너리 형태를 만들었을까? 
# 데이터가 많아지면 많아 질수록 사용하기 편하다.

In [14]:
# 조건문 if 조건식:
a = 10 
if a > 8:
    print("a는 8보다 크다") # 들여쓰기 하는 이유는 if 조건식에 관계하여 값이 나온다. 들여쓰기가 안되면 조건식과 관계 없이 값이 나온다.

a는 8보다 크다

In [ ]:
#조건식이 참이면 값이 나오지만, 거짓인 경우에 나오지 않는다.
#거짓일때 값이 나올수 있게 하는것이 else

In [15]:
a = 5 
if a > 8:
    print("a는 8보다 크다")
else:
    print("a는 8보다 작다")

a는 8보다 작다

In [17]:
b = "1" #값의 존재 유무의 따라 참, 거짓을 판별
if b: #b의 앖이 존재하면
    print('성공')
else: #b의 값이 존재하지 않으면
    print('실패')

성공

In [18]:
# 반복문 for문, while문
for i in range(1,10,1):
    print("%d 번째 반복" %i) #%d -> 정수, %s ->문자, %f ->실수

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [30]:
dict_list = [{"name" : "test1", "password" : "1234"},
            {"name" : "test2", "password" : "1234"},
            {"name" : "test3", "password" : "1234"},]
#list형태의 데이터를 각항별로 순서대로 출력하는 for문

for i in range(0, len(dict_list), 1):
    
    print(dict_list[i])

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [31]:
for list in dict_list:
    print(list)

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [33]:
for i in range(0, len(dict_list), 1):
    
    print(dict_list[i]["name"])

test1
test2
test3

In [36]:
for i in dict_list:
    print(i["name"])

test1
test2
test3

In [38]:
for i in dict_list:
    print(i)

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [41]:
i = 0
while i < len(dict_list):
    print(dict_list[i])
    i +=1

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [50]:
# 반복된 행동을 쉽게 불러올려고 함수를 쓴다.
# 함수 def 함수명(매개변수, 매개변수):
# 매개변수가 꼭 필요하진 않는다. 
# 함수를 호출 -> 함수명(인자, 인자)
# 함수를 만들어 봅시다. -> 함수를 호출 -> dict_list print ->
# 인자값에 키값을 넣어주고 -> 그 키 값에 해당하는 값만 출력이 되도록

def func_1(input_key) : #매개변수 하나는 있어야 함
    for list in dict_list :
        print(list[input_key])
        
func_1("name") # -> def func_1("name") ->print(list["name"])

test1
test2
test3

In [51]:
def func_1(input_key) : #for문
    for i in range(0, len(dict_list), 1) :
        print(dict_list[i][input_key])
        
func_1("name")

test1
test2
test3

In [52]:
func_1("password")

1234
1234
1234

In [53]:
def func_2(list, input_key):
    i = 0
    while i < len(list) :
        print(list[i][input_key])
        i += 1

func_2(dict_list, "name")

test1
test2
test3

In [5]:
a = 10 #a는 전역변수 -> 

def func_4(input_a, input_b):
    result = input_a + input_b #result -> 지역변수(이 함수 내에서만 존재하는 함수)
    return result

print(func_4(5, 6))

11

In [4]:
# def func_5():
#     a = 15
#     def func_6():
#         print(a)
#     func_6()
    

# func_5()

15

In [ ]:
# 함수를 생성 ->매개변수 3개 -> def 함수1(a,b,c) :
#-> 함수 안에 함수를 하나 더 생성 -> 함수1 -> a+b -> 
# 함수2 -> a+b더해준 값에 c를 빼주는 함수를 만들어 봅시다.

In [11]:
def func_7(a, b, c):
    sum = a+b 

    def func_8():
        result = sum - c
        return result

    print(func_8())

func_7(1,2,3)

0

In [13]:
def func_9(input_a, input_b):
    sum = input_a + input_b
    return sum

def func_10(input_c, input_d, input_e):
    sum_2 = func_9(input_c, input_d)
    result = sum_2 - input_e
    return result

print(func_10(5,2,3))

4

In [ ]:
# 함수 3개 생성
# 함수 1 -> 두 수의 합 출력
# 함수 2 -> 두 수의 차 출력
# 함수 3 -> def 함수3(a, b, c): -> c의 값이 "S"면,
# 함수 1(a,b)값을 출력할 꺼고
# c의 값이 "D"면 함수2(a,b)-> 호출 -->print(함수3)

In [19]:
def func_11(input_a, input_b):
    result_1 = input_a + input_b
    return result_1

def func_12(input_c, input_d):
    result_2 = input_c - input_d 
    return result_2
    
def func_13(input_e, input_f, input_g):
    if input_g == "S":
        result_3 = func_11(input_e, input_f)
        return result_3
    
    elif input_g == "D":
        result_4 = func_12(input_e, input_f)
        return result_4

    else :
        return "Not Matched"

print(func_13(1,2,"S")) #none이 나오는 이유는 13번에 리턴값이 없어서 
# 함수를 전역함수로 나눠 준 이유는 그러므로써 활용도가 더 높아진다.

3

In [20]:

    
def func_13(input_e, input_f, input_g):
    def func_11(input_a, input_b):
        result_1 = input_a + input_b
        return result_1

    def func_12(input_c, input_d):
        result_2 = input_c - input_d 
        return result_2
    
    if input_g == "S":
        result_3 = func_11(input_e, input_f)
        return result_3
    
    elif input_g == "D":
        result_4 = func_12(input_e, input_f)
        return result_4

    else :
        return "Not Matched"

print(func_13(1,2,"S"))

        # 함수를 하나의 함수로 다 묶어 버리면 나중에 활용도가 낮아 진다.

3

In [ ]:
# 함수 -> 입력 2개 a ~ b , c = "짝수", "홀수" 
# c가 짝수면 a~b에서 짝수만 출력
# c가 홀수면 a~b에서 홀 수만 출력 
# 반환되는 값의 데이터형태는 자유

In [26]:
def func_14(input_a, input_b):
    _list = []
    for i in range(input_a, input_b+1, 1): #마지막 값이 출력이 안되기 때문에 +1함 
        if i % 2 == 0:
            _list.append(i)
    return _list 

def func_15(input_a, input_b):
    _list = []
    for i in range(input_a, input_b+1, 1): #마지막 값이 출력이 안되기 때문에 +1함 
        if i % 2 == 1:
            _list.append(i)
    return _list 

def func_16(input_a, input_b, input_c):
    
    if input_c == "짝수":
        return func_14(input_a, input_b)
        

    elif input_c == "홀수":
        return func_15(input_a, input_b)
        
print(func_16(1, 10, "홀수"))

[1, 3, 5, 7, 9]

In [36]:
_list_2 = []

def func_17(input_a, input_b):
    for i in range(input_a, input_b+1, 1): #마지막 값이 출력이 안되기 때문에 +1함 
        if i % 2 == 0:
            # print(i)
            _list_2.append(i)
    

def func_18(input_a, input_b):
    for i in range(input_a, input_b+1, 1): #마지막 값이 출력이 안되기 때문에 +1함 
        if i % 2 == 1:
            # print(i)
            _list_2.append(i)

def func_19(input_a, input_b, input_c):
    
    if input_c == "짝수":
        func_17(input_a, input_b)
        

    elif input_c == "홀수":
        func_18(input_a, input_b)

    

func_19(1, 10, "홀수")
print(_list_2)

[1, 3, 5, 7, 9]

In [1]:
import pandas as pd

# index, colume, value, 지정 -> pd.DataFrame(value, index="index", column="column")

df_1 = pd.DataFrame('a', index = [1], columns=['A']) #리스트 형태로 값을 넣어야 함
print(df_1)

   A
1  a

In [3]:
df_1 = pd.DataFrame(['a', 'b', 'c'], columns=['A'])
df_1

   A
0  a
1  b
2  c

In [4]:
df_1['B'] = ["A", "B", "C"]
df_1

   A  B
0  a  A
1  b  B
2  c  C

In [5]:
df_1['B'] = [1,2,3]
df_1

   A  B
0  a  1
1  b  2
2  c  3

In [6]:
df_1['B'] = "A"
df_1

   A  B
0  a  A
1  b  A
2  c  A

In [7]:
df_1['A']

0    a
1    b
2    c
Name: A, dtype: object

In [8]:
df_1.A

0    a
1    b
2    c
Name: A, dtype: object

In [9]:
df_1 #컬럼의 값을 변경하고 싶다면

   A  B
0  a  A
1  b  A
2  c  A

In [10]:
df_1.columns = ["a", "b"]
df_1

   a  b
0  a  A
1  b  A
2  c  A

In [12]:
values = [["test1", "2000000"], ["test2", "3000000"], ["test3", "1000000"]]
columns = ["name", "pay"]

df_2 = pd.DataFrame(values, columns=columns)
df_2

    name      pay
0  test1  2000000
1  test2  3000000
2  test3  1000000

In [13]:
df_2.sort_values('pay') #오름차순으로 정렬

    name      pay
2  test3  1000000
0  test1  2000000
1  test2  3000000

In [14]:
df_2.sort_values('pay', ascending=False) #내림차순 정렬

    name      pay
1  test2  3000000
0  test1  2000000
2  test3  1000000

In [15]:
df_2.sort_index(ascending=False) #인덱스를 기준으로 내림차순

    name      pay
2  test3  1000000
1  test2  3000000
0  test1  2000000

In [16]:
#데이터를 분석하는데 중요한 부분이 시간

In [17]:
df_3 = df_2.copy() #원본데이터를 살리기 위해서, 카피를 한다.
df_3

    name      pay
0  test1  2000000
1  test2  3000000
2  test3  1000000

In [18]:
df_4 = df_3.drop(["name"], axis=1) #컬럼 삭제
df_4

       pay
0  2000000
1  3000000
2  1000000

In [21]:
df_5 = df_3.drop([0], axis=0) #행삭제 방법
df_5

    name      pay
1  test2  3000000
2  test3  1000000

In [22]:
df_5.to_csv('test.csv', encoding='utf-8')
#csv파일 만드는 법

In [25]:
df_5.to_csv('./server/test.csv', encoding='utf-8')

# ./ 현재폴더
# ../ 상위폴더

In [23]:
df_5.to_csv('../test.csv', encoding='utf-8')

In [ ]:
import pandas as pd

corona_df =