In [ ]:
sql = '''
        SELECT MIN(`REGION)
        FROM sales
        '''
result = _dtexecuteAll(sql)
pd.Dataframe(result)

In [ ]:
slq = '''
        SELECT REPLACE('A', 'B', 'B', 'b')
        FROM sales
        '''
result = _dt.executeAll(sql)
pd.DataFrame(result)

In [ ]:
sql = '''
        SELECT ENAME AS '사원명
        SAL AS '월급'
        SLA * 1.5 AS '인상된 월급
        FROM emp
'''
result = _dt.executeAll(sql)
pd.DataFrame(result)

In [ ]:
sql = '''
        SELECT
        DEPTNO,
        GROUP_CONCAT(ENAME)
        GROUP_CONCAT(JOB)
        FROM emp
        GROUP BY DEPTNO
'''
result = _dt.executeAll(sql)
pd.DataFrame(result)

In [ ]:
sql = '''
        SELECT
        
        FROM emp
'''

In [ ]:
import mod_sql
import pandas as pd

In [1]:
import mod_sql
import pandas as pd

In [ ]:
_db = mod_sql.Database()

In [2]:
_dt = mod_sql.Database()

OperationalError: (2003, "Can't connect to MySQL server on 'darkpreist.iptime.org' (timed out)")

In [ ]:
sql = """ 
        SELECT * FROM sales
        """

result = _db.executeAll(sql)
dt = pd.DataFrame(result)
dt.head()

In [ ]:
sql = """
        SELECT *
        FROM sales
        
        """

result = _dt.executeAll(sql)
dt = pd.DataFrame(result)
dt.head()
pd.DataFrame(result)

In [ ]:
sql = """
        SELECT ENAME,
        CASE
            WHEN JOB = "ANANLYST" THEN "분석사
            THEN JOB = "CLERK" THEN "점원"
            WHEN JOB = "MANAGER" THEN "관리자"
            END AS JOB 
        FROM emp
    """
result = _dt.executeAll(sql)
pd.DataFrame(result)

In [ ]:
sql = """
        SELECT ENAME
        FROM emp
        WHERE DEPTNO = 
        (
            SELECT DEPTNO FROM dept
            WHERE NAME = "sales"
        )
        """
resutl = _dt.executeAll(sql)
pd.DataFrame(result)

In [ ]:
sql =