In [54]:
# ### Class 하나 생성
# 1. 인자값으로 url(주소) -> csv 파일의 주소
# 2. 함수를 하나 생성 -> url에 있는 csv파일을 읽어오고, 'country'기준으로 sort를 하고
#     인덱스 값을 초기화
# 3. 함수를 하나 생성 -> 인자값을 리스트로 받는다. -> 이 매개변수를 기준으로 columns삭제

In [55]:
import pandas as pd


class Change_dt():
    def __init__(self, input_url):
        self.url = input_url

    def csv_read(self, input_sort = "Country", input_inplace=True):
        self.dt = pd.read_csv(self.url)
        self.dt.sort_values(input_sort, inplace=input_inplace)
        self.dt.reset_index(drop = True, inplace=input_inplace)
        return self.dt

    def remove_cloumn(self, input_list = []):
        self.dt.drop(input_list, axis=1, inplace=True)
        return self.dt

    def remove_cloumn_2(self, input_s_column, input_e_column):
        self.dt.drop(self.dt.loc[:, input_s_column : input_e_column], inplace = True, axis =1)
        return self.dt

dt = Change_dt("./csv/Sales Records.csv")

In [56]:
dt.csv_read()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [57]:
# dt.remove_cloumn(["Item Type", "Sales Channel"])
dt.remove_cloumn()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [58]:
dt.remove_cloumn_2("Item Type", "Order Date")

,Region,Country,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [59]:
import mod_1

In [60]:
mod_1.add(5, 3)

8

8

In [61]:
from module import mod_2

mod_2.sub(5, 3)

2

2

In [62]:
from mod_3 import add, sub

In [63]:
add(5, 3)

8

In [64]:
sub(5, 3)

2

In [65]:
from flask import Flask #플라스크 라이브러리에서 Flask만 불러오겠다.

In [66]:
import pandas

In [67]:
from mod3 import add, sub

ImportError: cannot import name 'add' from 'mod3' (c:\Users\spaceastonomy\Desktop\실습\220308\mod3.py)

In [ ]:
add(5,3)

In [ ]:
sub(5,3)

In [ ]:
import mod_4

dt = mod_4.Change_dt_2("./csv/Sales Records.csv")

AttributeError: module 'mod_4' has no attribute 'Change_dt_2'

In [ ]:
dt.csv_read()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Cereal,Online,C,1/16/2016,742576920,2/6/2016,3867,205.70,117.11,795441.90,452864.37,342577.53
9996,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,L,1/26/2010,322291505,2/11/2010,2073,651.21,524.96,1349958.33,1088242.08,261716.25
9997,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9998,Sub-Saharan Africa,Zimbabwe,Clothes,Online,C,1/21/2017,433102357,2/3/2017,3467,109.28,35.84,378873.76,124257.28,254616.48
9999,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,12/29/2012,486245286,2/5/2013,9640,9.33,6.92,89941.20,66708.80,23232.40

In [68]:
dt.remove_column_2("Item type", "Oder Date")

AttributeError: 'Change_dt' object has no attribute 'remove_column_2'

In [70]:
from mod_4 import Change_dt_2 as ct

dt_2 = ct("./csv/Sales Records.csv")

ImportError: cannot import name 'Change_dt_2' from 'mod_4' (c:\Users\spaceastonomy\Desktop\실습\220308\mod_4.py)

In [ ]:
dt_2.csv_read()

In [ ]:
for i in range(0, 4, 1):
    print(list)

In [71]:
a = (1,2,3,4)
b = [4,3,2,1]
c = {"name" : "test", "age" : 20}

print(c["name"])

test

In [75]:
a = [{"name" : "test", "age" : 20}]
b = pd.DataFrame(a)
print(b["name"])

0    test
Name: name, dtype: object

In [77]:
import numpy as np

In [87]:
n_a = np.random.random((10,2))

n_a

array([[0.68943494, 0.31486662],
       [0.56163985, 0.68254304],
       [0.46281556, 0.74781651],
       [0.85731704, 0.51001135],
       [0.62660292, 0.8321373 ],
       [0.49520818, 0.9374159 ],
       [0.08223881, 0.97963229],
       [0.16596032, 0.47394912],
       [0.82512035, 0.29571303],
       [0.13286868, 0.02735737]])

In [83]:
# n_a.round(0)

array([[0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 1.]])

In [85]:
# for i in range(len(n_a)):
#     if n_a[i][1] > 0.5:
#         n_a[i][1] = 1
#     else:
#         n_a[i][1] = 0

# n_a

array([[0.35552938, 1.        ],
       [0.31537102, 1.        ],
       [0.54840558, 1.        ],
       [0.11644043, 1.        ],
       [0.3260544 , 0.        ],
       [0.90318362, 1.        ],
       [0.69533653, 0.        ],
       [0.76257902, 0.        ],
       [0.71254757, 0.        ],
       [0.87778279, 1.        ]])

In [88]:
dt = pd.DataFrame(n_a)
dt

          0         1
0  0.689435  0.314867
1  0.561640  0.682543
2  0.462816  0.747817
3  0.857317  0.510011
4  0.626603  0.832137
5  0.495208  0.937416
6  0.082239  0.979632
7  0.165960  0.473949
8  0.825120  0.295713
9  0.132869  0.027357

In [90]:
dt[1].round(0)

0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    0.0
8    0.0
9    0.0
Name: 1, dtype: float64

In [91]:
dt[1].apply(lambda x : 1 if (x>0.5) else 0)

0    0
1    1
2    1
3    1
4    1
5    1
6    1
7    0
8    0
9    0
Name: 1, dtype: int64

In [92]:
def _round(x):
    if x > 0.5:
        return 1

    else:
        return 0 

dt[1].apply(_round)

0    0
1    1
2    1
3    1
4    1
5    1
6    1
7    0
8    0
9    0
Name: 1, dtype: int64

In [96]:
class Class_1():
    def a(self):
        print("Class_1")

class Class_2():
    def b(self):
        print("Class_2")

class Class_3(Class_2, Class_1):
    def c(self):
        print("Class_3")

x = Class_3()

In [97]:
x.a()

Class_1

In [104]:
import mod_1
print(mod_1.add(3,4))

print(mod_1.sub(4,2))

7
7

AttributeError: module 'mod_1' has no attribute 'sub'

In [102]:
from mod_1 import add
add(3, 4)

7

7

In [103]:
from mod_1 import *
sub(5,3)

2

In [105]:
import mod_1

In [106]:
mod_1.__name__

'mod_1'

In [107]:
import mod2

In [108]:
print(mod2.PI)

3.141592

In [109]:
a = mod2.Math()
print(a.solv(2))

12.566368

In [110]:
print(mod2.add(mod2.PI, 4.4))

7.5415920000000005

In [111]:
import mod_2
result = mod_2.sub(3, 4)
print(result)

ModuleNotFoundError: No module named 'mod_2'