In [1]:
a=10
print(a)

10

In [1]:
a

NameError: name 'a' is not defined

In [3]:
a=10
b=10
print(a+b)

20

In [4]:
sum = 0
i =1
while i < 11:
    sum +=i
    i+=1
print("1에서 10까지의 합은 %d" %sum)

1에서 10까지의 합은 55

In [6]:
sum = 0
i =1
while i < 11:
    sum +=i
    i+=1
print("1에서 10까지의 합은 %d" %sum)

1에서 10까지의 합은 55

In [7]:
for i in range(0,5,1):
    print("%d번째 출력 " %i)

0번째 출력
1번째 출력
2번째 출력
3번째 출력
4번째 출력

In [15]:
for i in range(1,10,1):
    if i ==5:
        break
    print("%d번째 반복" %i)

1번째 반복
2번째 반복
3번째 반복
4번째 반복

In [17]:
sum = 0
i = 0

for i in range(1,100,1):
    sum+=i
    if sum >=500:
        break

print("합계가 500이상이 되는 범위의 숫자는 : %d" %i)

합계가 500이상이 되는 범위의 숫자는 : 32

In [19]:
for i in range(1,10,1):
    if i <=3:
        continue
    print("%d 번째 반복" %i)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [20]:
sum=0
for i in range(1,11,1):
    if i <=3:
        continue
    print("%d 번째 반복" %i)
    sum +=i
print(sum)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복
10 번째 반복
49

In [21]:
a = (1,"hello")
b = (3, 3.14)
c= a + b
d = a * 3
e = a[1]

print (a,b)

(1, 'hello') (3, 3.14)

In [22]:
print(c)

(1, 'hello', 3, 3.14)

In [23]:
print(d)

(1, 'hello', 1, 'hello', 1, 'hello')

In [24]:
print(e)

hello

In [25]:
print(a[0])

1

In [27]:
print(a[0])
print(a[1])

1
hello

In [28]:
a = (10, 20, 30, 40)

print (a[1 : 3])

(20, 30)

In [29]:
print(a[1 : ])

(20, 30, 40)

In [30]:
print (a[ : 3])

(10, 20, 30)

In [31]:
a = [20, 10, 40, 30]
b = [12, 99, 24, 55]

a. sort()
b.reverse()

print(a)

[10, 20, 30, 40]

In [32]:
print(b)

[55, 24, 99, 12]

In [33]:
del a[0]
b. append(22)

print(a)

[20, 30, 40]

In [34]:
print(b)

[55, 24, 99, 12, 22]

In [35]:
print(len(b))

5

In [59]:
a = [[1,2], [3,4], [5,6]]

print(a)

[[1, 2], [3, 4], [5, 6]]

In [63]:
for i in range(0, 3, 1):
    print(a[i][0])

1
3
5

In [64]:
for i in range(0, len(a), 1):
    print(a[i][0])

1
3
5

In [66]:
b = []
for i in range(0, len(a), 1):
    b. append(a[i][0])

print(b)

[1, 3, 5]

In [67]:
b = []
for i in range(0, len(a), 1):
    b. insert(i,a[i][0])

print(b)

[1, 3, 5]

In [68]:
a ={"name" : "test", "age" : 20, "phone" : "01012345678"}

print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [69]:
print(a["name"])

test

In [70]:
a["area"] = "Seoul"

print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [71]:
a["age"] = 25
print(a)

{'name': 'test', 'age': 25, 'phone': '01012345678', 'area': 'Seoul'}

In [72]:
list(a.keys())
print(list(a.keys()))

['name', 'age', 'phone', 'area']

In [74]:
print(a.values())

dict_values(['test', 25, '01012345678', 'Seoul'])

In [75]:
print(a. items())

dict_items([('name', 'test'), ('age', 25), ('phone', '01012345678'), ('area', 'Seoul')])

In [76]:
del(a["phone"])
print(a)

{'name': 'test', 'age': 25, 'area': 'Seoul'}

In [79]:
a["phone"] = "01012345678"
print(a)

{'name': 'test', 'age': 25, 'area': 'Seoul', 'phone': '01012345678'}

In [80]:
a = "hello world"

a. upper()

'HELLO WORLD'

In [81]:
a.lower()

'hello world'

In [83]:
a.swapcase()

'HELLO WORLD'

In [86]:
print(a.title())

Hello World

In [88]:
a = "Hello World"


print(a. replace("Hello", "Hi"))

Hi World

In [90]:
print(a. replace("l", "a"))

Heaao Worad

In [93]:
b = "a,b,c,d"

print(b[4])

c

In [94]:
print(b. split(","))

['a', 'b', 'c', 'd']