In [17]:
from pymongo import MongoClient

In [18]:
import pymongo

In [19]:
client = MongoClient(
    host = "localhost",
    port = 27017
)

In [20]:
client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [21]:
db = client["ubion"]
list(db.test.find())

[{'_id': ObjectId('62328e822b7ef9a10d61af54'),
  'name': 'test',
  'phone': '0101232133'},
 {'_id': ObjectId('623290ca2b7ef9a10d61af56'), 'loc': 'Seoul'},
 {'_id': ObjectId('623290ca2b7ef9a10d61af57'), 'gender': 'male', 'age': 20.0},
 {'_id': ObjectId('623291a12b7ef9a10d61af58'), 'name': 'test2', 'age': 30.0},
 {'_id': ObjectId('6232a29ced174bdb776152ef')},
 {'_id': ObjectId('6232a2b8ed174bdb776152f0'), '1': '2'},
 {'_id': ObjectId('6232a2b8ed174bdb776152f1'), '3': '4'},
 {'_id': ObjectId('6232be3db70508c228388bb3')},
 {'_id': ObjectId('6232be3db70508c228388bb4'), '1': '2'},
 {'_id': ObjectId('6232be3db70508c228388bb5'), '3': '4'},
 {'_id': ObjectId('6232de4783d7893558087e76')},
 {'_id': ObjectId('6232de9883d7893558087e77'), '1': '2'},
 {'_id': ObjectId('6232de9883d7893558087e78'), '3': '4'},
 {'_id': ObjectId('6232df70916bedaa19fd0be6')},
 {'_id': ObjectId('6232df71916bedaa19fd0be7'), '1': '2'},
 {'_id': ObjectId('6232df71916bedaa19fd0be8'), '3': '4'}]

In [22]:
import pandas as pd

In [23]:

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [24]:
data = {
    "1" : "1",
    "2" : "2",
    "3" : "3"
}

db.test.insert_one({})

In [25]:
data = [{
    "1" : "2"
},
{
    "3" : "4"
}
]
db.test.insert_many(data)

In [26]:
pd.DataFrame(db.test.find())

                         _id   name       phone    loc gender   age    1    3
0   62328e822b7ef9a10d61af54   test  0101232133    NaN    NaN   NaN  NaN  NaN
1   623290ca2b7ef9a10d61af56    NaN         NaN  Seoul    NaN   NaN  NaN  NaN
2   623290ca2b7ef9a10d61af57    NaN         NaN    NaN   male  20.0  NaN  NaN
3   623291a12b7ef9a10d61af58  test2         NaN    NaN    NaN  30.0  NaN  NaN
4   6232a29ced174bdb776152ef    NaN         NaN    NaN    NaN   NaN  NaN  NaN
5   6232a2b8ed174bdb776152f0    NaN         NaN    NaN    NaN   NaN    2  NaN
6   6232a2b8ed174bdb776152f1    NaN         NaN    NaN    NaN   NaN  NaN    4
7   6232be3db70508c228388bb3    NaN         NaN    NaN    NaN   NaN  NaN  NaN
8   6232be3db70508c228388bb4    NaN         NaN    NaN    NaN   NaN    2  NaN
9   6232be3db70508c228388bb5    NaN         NaN    NaN    NaN   NaN  NaN    4
10  6232de4783d7893558087e76    NaN         NaN    NaN    NaN   NaN  NaN  NaN
11  6232de9883d7893558087e77    NaN         NaN    NaN    NaN   NaN    2  NaN
12  6232de9883d7893558087e78    NaN         NaN    NaN    NaN   NaN  NaN    4
13  6232df70916bedaa19fd0be6    NaN         NaN    NaN    NaN   NaN  NaN  NaN
14  6232df71916bedaa19fd0be7    NaN         NaN    NaN    NaN   NaN    2  NaN
15  6232df71916bedaa19fd0be8    NaN         NaN    NaN    NaN   NaN  NaN    4
16  6232dfae916bedaa19fd0bea    NaN         NaN    NaN    NaN   NaN  NaN  NaN
17  6232dfaf916bedaa19fd0beb    NaN         NaN    NaN    NaN   NaN    2  NaN
18  6232dfaf916bedaa19fd0bec    NaN         NaN    NaN    NaN   NaN  NaN    4

In [29]:
import mod_sql
_db = mod_sql.Database()

OperationalError: (2003, "Can't connect to MySQL server on 'darkpreist.iptime.org' (timed out)")

In [30]:
sql = """
        SELECT EMPNO
        FROM emp
        """
result = _db.executeAll(sql)
pd.DataFrame(result)

AttributeError: 'Cursor' object has no attribute 'executeAll'

In [ ]:
list(db.emp.find(
    {
        "ENAME" : "SMITH"
    }
))
#SELECT * FROM emp WHERE ENAME = " SMITH"

In [ ]:
db.emp.find({
    "ENAME" : "SMITH"
})

In [ ]:
list(db.emp.find(
    {},
    {
        "EMPNO" : 1,
        "ENAME" : 1, 
        "DEPTNO" : 1
    }
))

In [ ]:
result = db.emp.find(),sort("ENAME")

for list in result:
    print(list)

In [ ]:
result = db.emp.find().sort("ENAME")

for list in result:
    print(list)
    # SELECT * FROM emp ORDER BY ENAME

In [ ]:
# 급여가 2000보다 크거나 같은 데이터만 출력 $gte
# 큰거 $gt
# 작은거 $lt
# 작거나 같은거 $lte

result = db.emp.find(
    {
        "SAL" : {
            "$gte" : 2450
        }
    }
)
for list in result:
    print(list)
    # SELECT * FROM WHERE SAL >= 2450

In [ ]:
#급여가 2000보다 작은 데이터만 출력
result = db.emp.find(
    { 
        "SAL" : {
            "$lt" : 2450
        }
    }
)
for list in result : 
    print(list)

    #SELECT * FROM WHERE SAL < 2000

In [ ]:
#SELECT * FROM emp WHERE ENAME = SMITN OR ENAME = ALLEN
result = db.emp.find(
    {
        "$or" : [
            {
                "ENAME" : "SMITN"
            },{
                "ENAME" : "ALLEN"
            }
        ]
    }
) 

for list in result:
    print(list)

In [ ]:
#SELECT * FROM emp WHERE ENAME = SMITH AND JOB = CLERK
result = db.emp.find(
    {
        "ENAME" : "SMITN",
        "JOB" : " CLERK" 
    }
)
for list in result:
    print(result)

In [ ]:
#SELECT * FROM emp WHERE SAL >= 2000 AND SAL < 4000
result = db.emp.find(
    {
        "SAL" {
            "$gte" : 2000,
            "$lt" : 4000
        }
    }, {_id : 0}
)
pd.DataFrame(result)

In [ ]:
#SELECT * FROM emp WHERE ENAME LIKE S%

result = db.emp.find(
    {
        "ENAME" : {
            "$regex" : "^S"
        }
    }
)
pd.DataFrame(result)

In [ ]:
#SELECT * FROM emp WHERE ENAME LIKE %S%
result = db.emp.find(
    {
        "ENAME" {
            "$regex" : "S"
        }
    }
)
pd.DataFrame(result)

In [ ]:
#SELECT * FROM emp WHERE ENAME LIKE %S

result = db.emp.find(
    {
        "ENAME" {
            "$regex" : "S$"
        }
    }
)
pd.DataFrame(result)

In [ ]:
result = db.emp.find(
    {
        "SAL" {
            "$gt" : 1250,
            "$lts" 3000
        }, "JOB" : "SALESMAN"
    },{
        "ENAME" : 1,
        "JOB" : 1,
        "SAL" : 1,
        "DEPTNO" : 1,
        "_id" : 0
    }
).sort("ENAME", -1)
pd.DataFrame(result)

In [ ]:
coffee = 10
money - 300
while money : 
    print("돈을 받으니 커피를 줍니다. ")
    coffee = coffee -1
    print("남은 커피의 양은 %d 개입니다." %coffee)
    if coffee ==0:
        print("키피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

In [35]:
coffee = 10
money = 300
while money :
    print("돈을 받으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d 개입니다." %coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다. ")
        break

돈을 받으니 커피를 줍니다.
남은 커피의 양은 9 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 8 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 7 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 6 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 5 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 4 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 3 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 2 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 1 개입니다.
돈을 받으니 커피를 줍니다.
남은 커피의 양은 0 개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요"))
    if money ==300:
        print("커피를 줍니다.")
        print("남은 커피의 양은 %d개 입니다. " %coffee)
        coffee = coffee -1
    elif money > 300:
        print("거스름 돈 %d를 주고 커피를 줍니다." %(money - 300))
        print("남은 커피의 양은 %d개 입니다. " %coffee)
    else :
        print("e돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다. " %coffee)
    if coffee == 0:
        print("coffee sold out. close taday")
        break

In [40]:
coffee = 10 
while True:
    money = int(input("돈을 넣어 주세요:"))
    if money ==300:
        print("커피를 줍니다.")
        print("남은 커피의 양은 %d개 입니다. " %coffee)
        coffee = coffee -1
    elif money > 300:
        print("거스름 돈 %d를 주고 커피를 줍니다" %(money -300))
        print("남은 커피의 양은 %d개 입니다. " %coffee)
        coffee = coffee -1
    else : 
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다. " %coffee)
    if coffee == 0 :
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

커피를 줍니다.
남은 커피의 양은 10개 입니다.
커피를 줍니다.
남은 커피의 양은 9개 입니다.
커피를 줍니다.
남은 커피의 양은 8개 입니다.
커피를 줍니다.
남은 커피의 양은 7개 입니다.
커피를 줍니다.
남은 커피의 양은 6개 입니다.
거스름 돈 2700를 주고 커피를 줍니다
남은 커피의 양은 5개 입니다.
거스름 돈 2700를 주고 커피를 줍니다
남은 커피의 양은 4개 입니다.
커피를 줍니다.
남은 커피의 양은 3개 입니다.
커피를 줍니다.
남은 커피의 양은 2개 입니다.
커피를 줍니다.
남은 커피의 양은 1개 입니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [42]:
add = 0 
for i in range(1, 11):
    add += i

print(add)

55

In [66]:
add = 0 
for i in range(1, 11, 1):
    add += i 

print(add)

55

In [69]:
_class = [90, 25, 67, 45, 80]

_next = 0
for student in _class:
    _next += 1
    if student < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %_next)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
makrs = [90, 25, 67,45, 80]

number = 0
for mark in marks:
    number += 1

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks :
    number += 1

In [61]:
marks = [90, 25, 67, 45, 80]
for n in range(len(marks)):
    if marks[n] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(n+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [70]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d 번 학생 합격을 축하합니다.")

In [57]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end="")
    print("")

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [72]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} x {j} = {i * j}", end="")
    print("")

2 x 1 = 22 x 2 = 42 x 3 = 62 x 4 = 82 x 5 = 102 x 6 = 122 x 7 = 142 x 8 = 162 x 9 = 18
3 x 1 = 33 x 2 = 63 x 3 = 93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 27
4 x 1 = 44 x 2 = 84 x 3 = 124 x 4 = 164 x 5 = 204 x 6 = 244 x 7 = 284 x 8 = 324 x 9 = 36
5 x 1 = 55 x 2 = 105 x 3 = 155 x 4 = 205 x 5 = 255 x 6 = 305 x 7 = 355 x 8 = 405 x 9 = 45
6 x 1 = 66 x 2 = 126 x 3 = 186 x 4 = 246 x 5 = 306 x 6 = 366 x 7 = 426 x 8 = 486 x 9 = 54
7 x 1 = 77 x 2 = 147 x 3 = 217 x 4 = 287 x 5 = 357 x 6 = 427 x 7 = 497 x 8 = 567 x 9 = 63
8 x 1 = 88 x 2 = 168 x 3 = 248 x 4 = 328 x 5 = 408 x 6 = 488 x 7 = 568 x 8 = 648 x 9 = 72
9 x 1 = 99 x 2 = 189 x 3 = 279 x 4 = 369 x 5 = 459 x 6 = 549 x 7 = 639 x 8 = 729 x 9 = 81

In [ ]:
print(':: 2단 ::')
for i in range(1, 10):  # 1부터 9까지
    print(f'2 x {i} = {2*i}')

In [58]:
a = [1,2,3,4]
result = []
for num in a :
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [73]:
a = [1,2,3,4]
result = []
for num in a :
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [62]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 ==0]
print(result)

#만약 [1,2,3,4] 중에서 짝수에만 3을 곱하여 담고 싶다면

[6, 12]

In [74]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [63]:
result = [x*y for x in range(2, 10)
                for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [75]:
result = [x * y for x in range(2, 10)
for y in range(1, 10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [65]:
start = 0 
i = 1 
while i <= 1000 :
    if i % 3 == 0:
        start += i 
    i += 1

print(start)

166833

In [76]:
start = 0 
i = 1 
while i <= 1000:
    if i % 3 == 0 :
        start += i 
    i +=1
print(start)

166833