표를 만들어라, 
import pandas as pd

가상화폐와 현재가가 있는 표를 만들고 

dt = pd.DataFrame([
                    ['비트코인', '10000'],
                    ['리플', '1000']
])

비트코인과, 리플, 각각 가격은 10000, 1000원이다. 
dt.columns = ['가상화폐', '현재가']

In [ ]:
import pandas as pd
dt = pd.DataFrame([
                    ['비트코인', '10000'],
                    ['리플', '1000']
])

dt.columns = ['가상화폐', '현재가']

dt

In [ ]:
import pandas as pd
dt = pd.DataFrame([
            ["비트코인", "9,744000"],
            ["리플", 711]
            ])
dt.columns = ['가상화폐', '현재가']

dt

리스트에 항목을 만들어 줄때는 변수에 리스트를 담아 만들어 준다. 
portfolio = []

지정한 변수에 append함수를 활용해, () 안에 항목을 담아 준다. 

portfolio.append("BTC")
portfolio.append("ETH")
portfolio.append("XRP")

print(portfolio)

In [ ]:
portfolio = []
portfolio.append("BTC")
portfolio.append("ETH")
portfolio.append("XRP")

print(portfolio)

for문을 사용해서 항목들을 담아 보자 . 

먼저 변수에 리스트 형태로 이루어진 항목들을 담자
tickers = ["btc", "btg", "bch", "xrp"]

그리고 for문에 변수하나를 더 설정하고 전역변수에 설정한 변수를 사용해서 프린트 해준다.
for ticker in tickers:
    print(ticker)

In [ ]:
tickers = ["btc", "btg", "bch", "xrp"]

for ticker in tickers:
    print(ticker)

url 링크를 불러올때는 requests 모듈을 사용한다. 
import requests

변수에 주소를 담아 주고
url = "https://finance.naver.com/item/main.nhn?code=000660"

다른 변수에 requests함수에 get함수를 지정하고 (url)을 넣어 담아준다. 
html = requests.get(url).text

In [ ]:
import requests

url = "https://finance.naver.com/item/main.nhn?code=000660"
html = requests.get(url).text

In [ ]:
import requests
from bs4 import BeautifulSoup
  
url = "http://finance.naver.com/item/main.nhn?code=000660"
html = requests.get(url).text
  
soup = BeautifulSoup(html, "html5lib")
tags = soup.select("#_per")
tag = tags[0]
print(tag.text)

In [ ]:
from pandas import Series
data = ["2018-01-01"]
xrp_close = [512]
s = Series(xrp_close, index = data)
print(s)

삼성전자 주식을 불러오고 싶다면?

먼저 야후파이낸스를 불러 와야 한다. 
import yfinance as yf

그리고, 야휴에서 정보를 다운로드 받을 껀데, 정말 말 그대로 다운로드라는 단어를 쓸꺼야 
그리고 이걸 변수에 담아 주면 앞으로 갖다 쓰기 편하겠지?

df = yf. download('005930.KS', start ="2021-04-18", end ="2022-04-18")

다운로드 뒤에 ()가 붙는데, 이 안에는 기본적으로, 종목코드, 시작과 끝날짜를 담아 주면 돼, 그럼 
2021년 4월 18일 부터 2022년 4월 18일 까지 1년간의 삼정주신의 시가, 고가, 저가, 종가, 조정종가, 거래량을 불러 오시오 

가 만들어 지지.

In [72]:
import yfinance as yf

df = yf. download('005930.KS', start ="2021-04-18", end ="2022-04-18")

df

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2021-04-19  83800.0  84000.0  83300.0  83300.0  82169.382812  15287311
2021-04-20  83300.0  84000.0  83100.0  83900.0  82761.234375  15521965
2021-04-21  83300.0  83500.0  82500.0  82600.0  81478.882812  21636079
2021-04-22  82900.0  83000.0  82400.0  82400.0  81281.593750  13934746
2021-04-23  81900.0  82900.0  81600.0  82800.0  81676.164062  17805080
...             ...      ...      ...      ...           ...       ...
2022-04-11  67800.0  68100.0  67400.0  67900.0  67900.000000  12263735
2022-04-12  67600.0  67700.0  67000.0  67000.0  67000.000000  13924389
2022-04-13  67300.0  69000.0  67200.0  68700.0  68700.000000  17378619
2022-04-14  68700.0  68700.0  67500.0  67500.0  67500.000000  16409494
2022-04-15  67200.0  67300.0  66500.0  66600.0  66600.000000  13176415

[245 rows x 6 columns]

sk하이닉스를 불러 오고 싶니? 

그럼 yf.download를 사용하고 뒤로 ()를 만들어 줘. 
그리고 종목코드, 시작날짜, 끝나는 날짜를 넣어줘 
df = yf.download('000660.KS', start = '2021-04-18', end= '2022-04-18')

In [ ]:
df = yf.download('000660.KS', start = '2021-04-18', end= '2022-04-18')
df

lg전자를 불러오고 싶어 졌다. 

그럼 df= yf.download('종목코드.KS', start = '', end = '')
이렇게 담아 주면 되고 

df를 써주면 판다스 데이터 프레임에 예쁘게 담겨, 
프린트를 써서 df를 호출하면 그냥 시리즈 형태로 뽑히게 된다는 것

In [ ]:
df = yf.download('066570.KS', start='2021-04-18', end='2022-04-18')
print(df)

외국 주식도 함번 불러 와 볼까?

애플주가를 한번 불러와 보자 

자 먼저 처음부터 야후 파이넨스를 사용하자
import yfinance as yf

그리고 이제 yf.download를 사용해서 애플을 불러 보자, 애플은 코드 명은 'AAPL'이다. 
df = yf.download('AAPL', start = '2021-04-18', end = '2022-04-18')

In [ ]:
import yfinance as yf

df = yf.download('AAPL', start = '2021-04-18', end = '2022-04-18')

df

종가만 호출하고 싶다면? 

알다시피, 우리가 df에 종목정보를 다운로드 받고 동시에 담아줬잖아. 이제 이 df를 사용해 주면 됨

df['Close'] 

라는 코드 하나로 종가만 호출 가능

In [ ]:
df["Close"]

야후 파이넨스에스 쓰는 ticker는 종목을 선택 할수 있어 

sam = yf.Ticker('005930.KS')

그런대 ()안에 종목명만 쓸 수 있고, 다운로드 처럼 날짜는 안돼

In [73]:
sam = yf.Ticker('005930.KS')
sam

yfinance.Ticker object <005930.KS>

In [75]:
sam.history(start='2021-04-19', end='2022-04-19')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-19,82662.588535,82859.873950,82169.375000,82169.375000,15287311,0.0,0
2021-04-20,82169.378110,82859.877086,81972.092688,82761.234375,15521965,0.0,0
2021-04-21,82169.373941,82366.659352,81380.232294,81478.875000,21636079,0.0,0
2021-04-22,81774.807304,81873.450015,81281.593750,81281.593750,13934746,0.0,0
2021-04-23,80788.379671,81774.806773,80492.451540,81676.164062,17805080,0.0,0
...,...,...,...,...,...,...,...
2022-04-12,67600.000000,67700.000000,67000.000000,67000.000000,13924389,0.0,0
2022-04-13,67300.000000,69000.000000,67200.000000,68700.000000,17378619,0.0,0
2022-04-14,68700.000000,68700.000000,67500.000000,67500.000000,16409494,0.0,0
2022-04-15,67200.000000,67300.000000,66500.000000,66600.000000,13176415,0.0,0
2022-04-18,66600.000000,66600.000000,66600.000000,66600.000000,0,0.0,0

In [ ]:
apple = yf.Ticker('AAPL')
apple

배당금을 알아볼때는 dividends 를 사용하면 돼, 이 함수 역시, ()를 넣어서 나올수 있는 건 없어

이 함수는 주식이 처음 발행되고 부터 지금까지 배당금을 보여줘 
[] 리스트 형태로 뒤에 명령을 붙여주면 년도 까지는 가능 하지만, 복수 년도들은 안되

In [ ]:
apple.dividends['2020']

비트코인을 불러와 보자

업비트가 모듈을 제공해주고 있기 때문에 라이브러리를 사용해 보자 

import pyupbit as up

먼저 import pyupbit as up 를 사용해서 라이브러리를 불러와 주고 

업비트에서 종목들을 불러오고 싶다면. get_tickers 라는 함수를 사용해서 (fiat은 우리가 사용하는 종이 화폐, 즉 명목화폐(fiat money)에서 나온 말이다. 동일한 방법으로 BTC / USDT 마켓의 암호화폐도 골라낼 수 있다.) 종목명을 불러 올수 있다.

국가화폐로 명으로 불러 올수 있다. 

up.get_tickers(fiat = 'USD')
up.get_tickers(fiat = 'KRW')

In [ ]:
import pyupbit as up

In [ ]:
up.get_tickers(fiat = 'USD')

In [ ]:
up.get_tickers(fiat = 'KRW')

코인의 현재가를 구할려면?

get_current_price 함수를 사용하자, 함수안에 이제 ticker로 불러온 코인 코드를 사용해서 불러 올수 있다. 
이때 ()안에 [] 리스트로 감싸고, 종목을 불러와야 한다. 

up.get_current_price(["KRW-BTC", "KRW-ETH"])

딕셔너리 형태로 출력이 된다.

In [ ]:
a = up.get_current_price(["KRW-BTC", "KRW-ETH"])
a['KRW-BTC']
a[]

코인 종목의 시가, 고가, 저가, 종가, 거래량을 알고 싶다면 
get_ohlcv 함수를 사용해 보자 


함수뒤에 ()를 쓸수 있는데, 여기에는 ticker, interval, to, count를 사용해서 디테일을 설정할 수 있다. 
ticker 는 종목, interval은 간격, to는 기간인데, end역할을 한다. count는 갯수이다. 

up.get_ohlcv(ticker = 'KRW-BTC', interval= 'minute60', to = '2020-01-01 00:00', count = 100)

In [ ]:
up.get_ohlcv(ticker = 'KRW-BTC', interval= 'minute60', to = '2020-01-01 00:00', count = 100)

코인의 현재가를 구할려면?

get_current_price 함수를 사용하자, 함수안에 이제 ticker로 불러온 코인 코드를 사용해서 불러 올수 있다. 
이때 ()안에 [] 리스트로 감싸고, 종목을 불러와야 한다. 

up.get_current_price(["KRW-BTC", "KRW-ETH"])

실시간으로 코인 가격을 불러 오고 싶다면?
time이라는 모듈을 불러오고  

import pyupbit
import time

while문을 사용해서 만들어 보자

while True:

while 문은 True, False형태로 문장을 만들어 줘야 한다. 뒤에는 항상 : 마로 닫아줘야 함수가 시작된다.

그리고 while 안에 변수를 하나 만들고, 현재가 함수를 담아 준다. 

price = pyupbit.get_current_price("KRW-BTC")

그리고 이 변수를 출력해 주고, 

    print(price)

처음 불러왔던 모듈 time을 사용해 보자. 

    print(price)

In [ ]:
import pyupbit
import time
  
while True:
    price = pyupbit.get_current_price("KRW-BTC")
    print(price)
    time.sleep(1)

In [77]:
sam = yf.Ticker('005930.KS')

야후 파이낸스에서 삼성주가를 갖고 와라. 

기간은 최근 3개월 

이걸 csv 파일로 만들고

In [ ]:
import yfinance as yf

apple = yf.Ticker("AAPL")
apple.history(period= "max")
result = apple.history(period= "max")
resutl.to_csv("apple.csv")

import mod_sql

_db = mod_sql.Database()

result.index
list(result.open)

_sql = """
        SELECT *
        FROM apple

"""
result = _db.executeAll(_sql)
_df = pd.DataFrame(result)

_df = _df.round(2)
_df.isna().sum()
_df.fillna("bfill")
_df["등락폭"] = _df["Close"] - _df["Open"]
_df["등락율"] = _df["등락폭"] / _df["Open"] * 100

import matplotlib.pyplot as plt
plt.plot(_df["open"])

In [ ]:
import yfinance as yf

apple = yf.Ticker("APPLE")
apple.history(preiod= "max")
result = apple.history(period= "max")
result.to_csv("apple.csv")

import mod_sql

_db = mod_sql.Database()

_sql = """
        SELECT *
        FROM apple

"""

result = _db.executeAll(_sql)

import pandas as pd

_df = pd.DataFrame(result)

_df = _df.round(2)
_df.isna().sum()
_df.fillna("bfill")

_df["등락폭"] = _df["Close"] - _df["Open"]
_df["등락율"] = _df["등락폭"] / _df["Open"] * 100

import matplotlib as plt

plt.subplot(2,2,1)
plt.plot(_df["Open"])

In [ ]:
import pandas as pd

class Change_dt():
    def __init__(self, input_csv):
        self.dt = pd.read_csv(input_csv)
        
    def _sort(self, input_column):
        if type(input_column) == int:
            self.select = self.dt.columns[input_column]
            self.dt.sort_values(self.select, inplace= True)
            return self.dt
        
        elif type(input_column) == str:
            self.dt.sort_values(self.select, inplace = True)
            return self.dt
        
        elif:
            print('데이터의 타입이 맞지 않습니다..')
            return self.dt
            
    def _drop(sef, input_column):
        self.dt.drop(input_column, axis=1, inplace= True)
        return self.dt
        
    def _reset(self):
        self.dt.reset_index(drop=True, inplace= True)
        return self.dt
    
x = Change_dt("./csv/Sales Records.csv")
x.dt
x._sort(1)
x._drop("Sales Channel")
x._reset()

In [ ]:
import pandas as pd
dt = pd.DataFrame([[1,2,3], [2,3,4], [5,4,3]])

dt.columns = ["A", "B", "C"]
dt['D'] = (dt['C'] - dt['C'].shift()).fillna(0)

dt.sort_values("A", inplace= True)
dt.reset_index(drop= True, inplace= True)

dt

In [ ]:
def diff_sum(input_a, input_b, input_c):
    sum = input_a * input_b + input_c
    sum_2 = input_a + input_b * input_c
    if sum > sum_2:
        resutl = sum - sum_2
    elif sum < sum_2:
        resutl = sum_2 - sum
    else:
        resut = 0
        
a = int(input("a"))
b = int(input("b"))
c = int(input("c"))

result = diff_sum(a,b,c)
print(resutl)

In [ ]:
a = [ i for i in range(10)]
a

In [ ]:
b = list( i for i in range(10))
b

In [ ]:
c = [ i + 5 for i in range(10)]
c

In [ ]:
d = [ i * 2 for i in range(10)]
d

In [ ]:
a = [ i for i in range(10) if i % 2 == 0 ]
a

In [ ]:
b = [ i + 5 for i in range(10) if i % 2 == 1 ]
b

In [ ]:
a = [print("%s x %s =" %i * j) for j in range(2, 10) for i in range(1, 10)]
a

In [ ]:
[print(f'{dan} x {i} = {dan*i}') for dan in range(2, 10) for i in range(1, 10)]

In [ ]:
a = [print(f'{dan} x {i} = {dan * i }') for dan in range(2, 10) for i  in range(1, 10)]
a

In [ ]:
nums = []
for x in range(1, 11):
    nums.append(x)
    print(x)

In [ ]:
nums = [x for x in range(1, 11)]
nums

In [ ]:
nums2 = []
for x in range(1,11):
    nums2.append(x*x)
    print(x*x)

In [ ]:
num2 = [x*x for x in range(1,11)]
num2

In [ ]:
import random 

nums3 = []
for _ in range(5):
    nums3.append(random.randint(1,10))
    print(nums3)

In [ ]:
nums3 = [random.randint(1,10) for _ in range(5)]
nums3

In [ ]:
for i in range(2,10):
    for j in range(1, 10):
        print("%d x %d =" %(i,j), i*j)

In [ ]:
a = [print("%d x %d ="%(i,j), i*j) for i in range(2, 10) for j in range(1,10)]
a

In [ ]:
nums2 = []
for x1 in range(1, 6):
    for x2 in range(91, 96):
        nums2.append([x1, x2])
print(nums2)

In [ ]:
nums4 = [[x1, x2] for x1 in range(1,6) for x2 in range(91, 96)]
nums4

In [ ]:
scores = [20, 55, 12, 7, 6]
nums5 = []
for x in scores:
    if x %2 == 0:
        nums5.append(x)
print(nums5)

In [ ]:
num5 = [x for x in scores if x % 2 ==0]
num5

In [ ]:
words = ["반짝", "하하", "별", "호호호"]

words2 = []
for x in words:
    if len(x) ==2:
        words2.append(x+x)
        
print(words2)

In [ ]:
words2 = [x+x for x in words if len(x) ==2]
words2

In [ ]:
words = ["반짝", "하하", "별", "호호호"]
words3 = []

for x in words:
    if len(x) ==2:
        words3.append(x+x)
    else:
        words3.append(x)
        
print(words3)

In [ ]:
words3 = [x+x if len(x) ==2 else x for x in words]
words3

In [ ]:
nums = set()
for x in range(1, 11):
    nums.add(x)
print(nums)

In [ ]:
nums = {x for x in range(1, 11)}
print(nums)

In [ ]:
num = {}
for x, y in enumerate(range(100, 110, 2)):
    nums[x] = y

print(nums)

In [ ]:
nums = {x:y for x,y in enumerate(range(100, 110, 2))}
nums

In [ ]:
key_num = range(10, 51, 10)
value_num = range(100, 105)

nums2 = {}
for x, y in zip(key_num, value_num):
    nums2[x] = y
    
print(nums2)

In [ ]:
nums2 = {x:y for x, y in zip(key_num, value_num)}
nums2