In [1]:
a = [ i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
c = [i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
d = [i * 2 for i in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
a = [i for i in range(10) if i % 2 == 0 ]
a

[0, 2, 4, 6, 8]

In [7]:
b = [i + 5 for i in range(10) if i % 2 ==1 ]
b

[6, 8, 10, 12, 14]

In [ ]:
>>> a = []
>>> for i in range(5) :
...    a.append(i)
...
>>> a

In [12]:
a = []
for i in range(5):
    # a.append(i)
    print(i)


a

0
1
2
3
4

[]

In [10]:
a = [ i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [1]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
c =[ i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
d = [i * 2 for i in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
a = [i for i in range(10) if i % 2 == 0 ]
a

[0, 2, 4, 6, 8]

In [6]:
b= [i + 5 for i in range(10) if i % 2 == 1 ]
b

[6, 8, 10, 12, 14]

In [9]:
a = [i * j for j in range(2, 10) for i in range(1,10)]
print ("%d x %d = " %a)

TypeError: %d format: a number is required, not list

In [11]:
oldlist = [1,2, 'A', False, 3]
newlist = [i * i for i in oldlist if type(i) == int]

print(newlist)

[1, 4, 9]

In [12]:
oldlist = [1,1,1,3,3,34,4,5]
newlist = [ i * i for i in oldlist]
print(newlist)

[1, 1, 1, 9, 9, 1156, 16, 25]

In [2]:
nums = []
for x in range(1, 11):
    nums.append(x)
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
nums = [x for x in range(1, 11)]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
nums2 = []
for x in range(1, 11):
    nums2.append(x*x)
    print(x*x)

1
4
9
16
25
36
49
64
81
100

In [6]:
nums2 = [x*x for x in range(1, 11)]
nums2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
import random

nums3 = []
for i in range(5):
    nums3.append(random.randint(1, 10))
    print(nums3)

[2]
[2, 8]
[2, 8, 5]
[2, 8, 5, 10]
[2, 8, 5, 10, 8]

In [8]:
nums3 = [random.randint(1,10) for i in range(5)]
nums3

[4, 6, 9, 5, 9]

In [10]:
for i in range(2, 9):
    for j in range(1, 10):
        print("%d x %d = " %(i,j), i*j)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72

In [11]:
a = [print("%d x %d = " %(i, j), i * j) for i in range(2, 10) for j in range(1, 10)]
a

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [1]:
 a= [ i for i in range(10)]
 a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = list( i for i in range (10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
c = [ i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
d = [ i * 2 for i in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
a = [ i for i in range(10) if i% 2 ==0]
a

[0, 2, 4, 6, 8]

In [9]:
b = [ i + 5 for i in range(10) if i % 2== 0]
b

[5, 7, 9, 11, 13]

In [10]:
 a= [ print(f'{dan} x {i} = {dan * i}') for dan in range(2, 10) for i in range(1, 10)]
 a

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [11]:
num = []
for x in range(1, 11):
    num.append(x)
    print(x)

1
2
3
4
5
6
7
8
9
10

In [12]:
num = [x for x in range(1, 11)]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
num2 = []
for x in range(1, 11):
    num2.append(x*x)
    print(x*x)

1
4
9
16
25
36
49
64
81
100

In [15]:
num2 = [x*x for x in range(1, 11)]
num2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%d x %d = " %(i, j), i*j)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81

In [19]:
a = [("%d x %d = " %(i,j), i * j) for i in range(2, 10) for j in range(1, 10)]
a

[('2 x 1 = ', 2),
 ('2 x 2 = ', 4),
 ('2 x 3 = ', 6),
 ('2 x 4 = ', 8),
 ('2 x 5 = ', 10),
 ('2 x 6 = ', 12),
 ('2 x 7 = ', 14),
 ('2 x 8 = ', 16),
 ('2 x 9 = ', 18),
 ('3 x 1 = ', 3),
 ('3 x 2 = ', 6),
 ('3 x 3 = ', 9),
 ('3 x 4 = ', 12),
 ('3 x 5 = ', 15),
 ('3 x 6 = ', 18),
 ('3 x 7 = ', 21),
 ('3 x 8 = ', 24),
 ('3 x 9 = ', 27),
 ('4 x 1 = ', 4),
 ('4 x 2 = ', 8),
 ('4 x 3 = ', 12),
 ('4 x 4 = ', 16),
 ('4 x 5 = ', 20),
 ('4 x 6 = ', 24),
 ('4 x 7 = ', 28),
 ('4 x 8 = ', 32),
 ('4 x 9 = ', 36),
 ('5 x 1 = ', 5),
 ('5 x 2 = ', 10),
 ('5 x 3 = ', 15),
 ('5 x 4 = ', 20),
 ('5 x 5 = ', 25),
 ('5 x 6 = ', 30),
 ('5 x 7 = ', 35),
 ('5 x 8 = ', 40),
 ('5 x 9 = ', 45),
 ('6 x 1 = ', 6),
 ('6 x 2 = ', 12),
 ('6 x 3 = ', 18),
 ('6 x 4 = ', 24),
 ('6 x 5 = ', 30),
 ('6 x 6 = ', 36),
 ('6 x 7 = ', 42),
 ('6 x 8 = ', 48),
 ('6 x 9 = ', 54),
 ('7 x 1 = ', 7),
 ('7 x 2 = ', 14),
 ('7 x 3 = ', 21),
 ('7 x 4 = ', 28),
 ('7 x 5 = ', 35),
 ('7 x 6 = ', 42),
 ('7 x 7 = ', 49),
 ('7 x 8 = ', 56),
 ('7 x 9 = ', 63),
 ('8 x 1 = ', 8),
 ('8 x 2 = ', 16),
 ('8 x 3 = ', 24),
 ('8 x 4 = ', 32),
 ('8 x 5 = ', 40),
 ('8 x 6 = ', 48),
 ('8 x 7 = ', 56),
 ('8 x 8 = ', 64),
 ('8 x 9 = ', 72),
 ('9 x 1 = ', 9),
 ('9 x 2 = ', 18),
 ('9 x 3 = ', 27),
 ('9 x 4 = ', 36),
 ('9 x 5 = ', 45),
 ('9 x 6 = ', 54),
 ('9 x 7 = ', 63),
 ('9 x 8 = ', 72),
 ('9 x 9 = ', 81)]

In [ ]:
import pandas as pd

class Change_dt():
    def __init__(self, input_csv):
        self.dt = pd.read_csv(input_csv)
        
    def _sort(self, input_column):
        if type(input_column) == int:
            self.select = self.dt.columns[input_column]
            self.dt.sort_values(self.select, inplace= True)
            return self.dt
        
        elif type(input_column) == str:
            self.dr.sort_values(self.select, inplace=Treu)
            return self.dt
        
        elif:
            print('데이터의 타입이 맞지 않습니다.')
            return self.dt
        
    def _drop(self, input_colum):
        self.dt.drop(input_colum, axis= 1, inplace= True)
        return self.dt
    
    def _reset(self):
        self.dt.reset_index(drop=True, inplace= True)
        return self.dt
    
x = Change_dt("./csv/Sales Records.csv")
x.dt
c

In [21]:
import yfinance as yf
import pandas as pd
import mod_sql

apple = yf.Ticker("AAPL")
apple.history(period="max")
result = apple.history(preiod = "max")
result.to_csv("apple.csv")

_db = mod_sql.Database()

result.index
list(result.Open)

_sql = """
        SELECT *
        FROM apple

"""
result =  _db.executeAll(_sql)
_df = pd.DataFrame(result)

_df = _df.round(2)
_df.isna().sum()
_df.fillna("bfill")
_df["등락폭"] = _df["Close"] - _df["Open"]
_df["등락율"] = _df["등락폭"] / _df["Open"] * 100

import matplotlib.pyplot as plt
plt.plot(_df["Open"])

plt.subplot(2,2,1)
plt.plot(_df["Open"])

ModuleNotFoundError: No module named 'mod_sql'

In [ ]:
X