In [14]:
import pandas as pd 

uri = pd.read_csv('./num_1/uriage.csv')
uri_1 = uri.rename(columns={'purchase_date' : 'datetime'})
uri_2 = uri_1.sort_values('item_name')
uri_2.columns.values[1] = 'ITEM_NAME'
uri_2.isna().sum()
uri_3 = uri_2.fillna('max')
uri_3

              datetime ITEM_NAME item_price customer_name
51    2019-01-02 13:26     상 품 n     1400.0           김범준
180   2019-03-02 15:38      상품 E      500.0           김시율
107    2019-03-02 1:53      상품 M     1300.0           김동건
161   2019-03-04 16:39      상품 P     1600.0           김승윤
106    2019-05-03 1:15      상품 S     1900.0           김동현
...                ...       ...        ...           ...
1499  2019-04-24 14:12       상품s     1900.0           김현성
1524  2019-02-28 15:15       상품t     2000.0           김성민
1336   2019-02-18 8:16       상품v     2200.0           김연호
2031  2019-06-05 13:37       상품x     2400.0           김수민
26     2019-05-16 4:45       상품y     2500.0           김태현

[2999 rows x 4 columns]

# 데이터 프레임 사용하기 

1. 먼저 판다스를 임폴트 한다.

* 그리고 변수에 pd.read_csv를 담아준다. ()안에 경로를 적어준다. 
* 컬럼명을 전부 바뀌고 싶다면, 변수.columns = [""]안 변경할 컬럼 명들을 순차척으로 적어 주면 된다. 
*  그런데 특정 컬럼만 변경하고 싶다면, 변수.rename(columns = {'A':'B'}) 이렇게 만들고 에이에는 변경전 원본 컬럼을 만들어 주고, 비 부분에 변경할 컬럼명을 넣어 주면 된다. 
* 특정 컬럼에 대한 정보만 뽑고 싶다면 변수.컬럼명을 넣어주면 되고, 조금더 이쁘게 뽑고 싶다면 pd.DataFrame()안에 넣어 주면 된다. 
* 어떤 컬럼 기준으로 정렬을 하고 싶다면 변수.sort_values("") 안에 컬럼명을 넣어주면 된다. 오름차 순이 기본값이다.
* 값들중에 빈도수를 세고 싶다면, 변수["A"].value_counts() 해서 보면 되고, 내림차순이 기본값이다. 
*

In [38]:
import pandas as pd

uri = pd.read_csv('./')
uri.rename(columns = {'A' : 'b'})
uri.sort_values('item_name')
uri.columns.values[1] = "name"
uri.isna().sum()
uri.fillna('max')
uri.reset_index(inplace= True)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' (3453817150.py, line 4)

In [ ]:
import pandas as pd 

uri = pd.read_csv('./num_1/uriage.csv')
uri_1 = uri.rename(columns={'purchase_date' : 'datetime'})
uri_2 = uri_1.sort_values('item_name')
uri_2.columns.values[1] = 'ITEM_NAME'
uri_2.isna().sum()
uri_3 = uri_2.fillna('max')
uri_3.reset_index(inplace=True)
uri_3

In [15]:
import pandas as pd 

uri = pd.read_csv('./num_1/uriage.csv')

In [33]:
uri_1 = uri.rename(columns={'purchase_date' : 'datetime', 'item_name' : 'name'})
pd.DataFrame(uri_1.datetime)
uri_1["name"].value_counts(ascending=True)
uri_1['name'].sort_values(ascending=True)

51       상 품 n
180       상품 E
107       상품 M
161       상품 P
106       상품 S
         ...
1499       상품s
1524       상품t
1336       상품v
2031       상품x
26         상품y
Name: name, Length: 2999, dtype: object

In [9]:
uri_2 = uri_1.sort_values('item_name')
uri_2

              datetime item_name  item_price customer_name
51    2019-01-02 13:26     상 품 n      1400.0           김범준
180   2019-03-02 15:38      상품 E       500.0           김시율
107    2019-03-02 1:53      상품 M      1300.0           김동건
161   2019-03-04 16:39      상품 P      1600.0           김승윤
106    2019-05-03 1:15      상품 S      1900.0           김동현
...                ...       ...         ...           ...
1499  2019-04-24 14:12       상품s      1900.0           김현성
1524  2019-02-28 15:15       상품t      2000.0           김성민
1336   2019-02-18 8:16       상품v      2200.0           김연호
2031  2019-06-05 13:37       상품x      2400.0           김수민
26     2019-05-16 4:45       상품y      2500.0           김태현

[2999 rows x 4 columns]

In [10]:
uri_2.columns.values[1] = 'ITEM_NAME'
uri_2

              datetime ITEM_NAME  item_price customer_name
51    2019-01-02 13:26     상 품 n      1400.0           김범준
180   2019-03-02 15:38      상품 E       500.0           김시율
107    2019-03-02 1:53      상품 M      1300.0           김동건
161   2019-03-04 16:39      상품 P      1600.0           김승윤
106    2019-05-03 1:15      상품 S      1900.0           김동현
...                ...       ...         ...           ...
1499  2019-04-24 14:12       상품s      1900.0           김현성
1524  2019-02-28 15:15       상품t      2000.0           김성민
1336   2019-02-18 8:16       상품v      2200.0           김연호
2031  2019-06-05 13:37       상품x      2400.0           김수민
26     2019-05-16 4:45       상품y      2500.0           김태현

[2999 rows x 4 columns]

In [11]:
uri_2.isna().sum()

datetime           0
ITEM_NAME          0
item_price       387
customer_name      0
dtype: int64

In [13]:
uri_3 = uri_2.fillna('max')
uri_3.isna().sum()

datetime         0
ITEM_NAME        0
item_price       0
customer_name    0
dtype: int64

---------
동물 클래스를 만들어 보자

----------
1. 먼저 클래스 선언하기 
2. init을 만들어 주고, 매개변수 셀프와 네임을 만들어 준다.
3. 셀프.네임 = 네임 으로 만들어 주고
4. 움직임에 대한 매서드를 만들어 준다.
5. 프린트 움직임을 만들어 누다.
6. 말하기 매서드를 만들어 준다. 
7. 말하기는 다른 클래스에 만들꺼기 때문에 일단 패스로 넘긴다.

8. 두번째 클래스를 만든다.
9. 도그 클래스를 만들고, ()안에 매인 클래스 애니멀을 넣어 준다. 
10. 말하기 매서드를 만들어 주고, 프린트로 말하기를 만든다.
11. 오리 매서드를 만든다. ()안에 애니멀을 넣어 준다.

In [37]:
class Animal:
    def __init__(self, name):
        self.name = name
    def move(self):
        print("move")
    def speak(self):
        pass
 
class Dog (Animal):
    def speak(self):
        print("bark")
 
class Duck (Animal):
    def speak(self):
        print("quack")
        
dog = Dog("doggy") # 부모클래스의 생성자 애니멀에 들어간다. 이제 도기는 애니멀로 들어가서. 
n = dog.name # 부모클래스의 인스턴스변수
dog.move()   # 부모클래스의 메서드
dog.speak() 
print(n)

move
bark
doggy

In [41]:
duck = Duck('오리')
d = duck.name
duck.move()
duck.speak()
print(d)

move
quack
오리

In [35]:
dog = Dog("doggy") # 부모클래스의 생성자
n = dog.name # 부모클래스의 인스턴스변수
dog.move()   # 부모클래스의 메서드
dog.speak()

move
bark

In [44]:
class Complex:
    # r = 5.0
    # i = 5.0
    def __init__(self, r, i):
        self.r = r
        self.i = i
    def print(self):
        print(f'Complex : {self.r} + {self.i}i')



c1 = Complex(1.0, 1.0)
c1.print()

Complex : 1.0 + 1.0i

In [46]:
class Dog:
    kind = 'canine' # class variable
    def __init__(self, name):
        self.name = name # object(instance) variable


d1 = Dog('Fido')
d2 = Dog('Buddy')


print(f" d1's name : {d1.name}")
print(f" d1's kind : {d1.kind}")
print(f" d2's name : {d2.name}")
print(f" d2's kind : {d2.kind}")

Dog.kind = 'poodle'
print(f" d1's kind : {d1.kind}")
print(f" d2's kind : {d2.kind}")

 d1's name : Fido
 d1's kind : canine
 d2's name : Buddy
 d2's kind : canine
 d1's kind : poodle
 d2's kind : poodle

In [47]:
class Complex:
    r = 5.0
    i = 5.0
    
    def __init__(self, real, img):
        self.r = real
        self.i = img
    
    def print(self):
        print(f'Complex : {self.r} + {self.i}i')
    
    class Dog:
        kind = 'canine' # class variable
    
    def __init__(self, name):
        self.name = name # object(instance) variable

d1 = Dog('Fido')
d2 = Dog('Buddy')


print(f" d1's name : {d1.name}")
print(f" d1's kind : {d1.kind}")
print(f" d2's name : {d2.name}")
print(f" d2's kind : {d2.kind}")

d1.kind = 'poodle'
print(f" d1's kind : {d1.kind}")
print(f" d2's kind : {d2.kind}")

 d1's name : Fido
 d1's kind : poodle
 d2's name : Buddy
 d2's kind : poodle
 d1's kind : poodle
 d2's kind : poodle