In [23]:
import pymysql
import pandas as pd

In [24]:
_db = pymysql.connect(
    user = "root",
    password= "dkrkwk18!",
    host = "localhost",
    db = "ubion"

)

In [25]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [32]:
sql = "SELECT * FROM user_info"

cursor.execute(sql) #cursor 
result = cursor.fetchall()
print(result)

[{'ID': 'test', 'password': '1234', 'name': '고길동', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20220310', 'phone': '010234852934'}, {'ID': 'test2', 'password': '5678', 'name': '둘리', 'ads': '북극 어딘가', 'gender': 1, 'age': 21, 'regit_date': '20220310', 'phone': '0102398492339'}, {'ID': 'test3', 'password': '8513', 'name': '마이콜', 'ads': '고길동 옆집', 'gender': 1, 'age': 28, 'regit_date': '20220310', 'phone': '010324892348'}, {'ID': 'test4', 'password': '4521', 'name': '또치', 'ads': '동물원', 'gender': 2, 'age': 12, 'regit_date': '20220310', 'phone': '01029384392'}, {'ID': 'test5', 'password': '1234', 'name': '도우너', 'ads': '깐타피아', 'gender': 2, 'age': 12, 'regit_date': '20220310', 'phone': '01077777777'}]

In [33]:
dt = pd.DataFrame(result) #데이터가 딕셔너리 형태면 자동으로 표로 만들어준다.
dt #앞에 프린트를 붙이면 안이쁘게 출력된다.

      ID password name          ads  gender  age regit_date          phone
0   test     1234  고길동  서울시 강북구 쌍문동       1   45   20220310   010234852934
1  test2     5678   둘리       북극 어딘가       1   21   20220310  0102398492339
2  test3     8513  마이콜       고길동 옆집       1   28   20220310   010324892348
3  test4     4521   또치          동물원       2   12   20220310    01029384392
4  test5     1234  도우너         깐타피아       2   12   20220310    01077777777

In [19]:
sql = "insert into user_info values (%s, %s, %s, %s, %s, %s, %s, %s)"
values = ["test4", "4521", "또치", "동물원", 2, 12, "20220310", "01029384392"]

cursor.execute(sql, values)
_db.commit()

IntegrityError: (1062, "Duplicate entry 'test4' for key 'user_info.PRIMARY'")

In [ ]:
#input_value = []

id = input("ID 값 : ")
pw = input("password : ")
name = input("name :")
ads = input("address :")
gender = int(input("gender :"))
age = int(input("age :"))
regit_date = input("regit_date :")
phone = input("phone :")

input_list = [id, pw, name, ads, gender, age, regit_date, phone]

cursor.execute(sql, input_list)
_db.commit() #숫자를 넣어도 인풋자체가 스트링으로 받는다.

In [20]:
x = int(input("x :"))

type(x)

ValueError: invalid literal for int() with base 10: ''

In [21]:
update_sql =''' 
                UPDATE user_info
                SET phone = "01077777777"
                WHERE name = "도우너"
            '''
cursor.execute(update_sql)
_db.commit()

In [29]:
delete_sql ="""
            DELETE FROM user_info
            WHERE ID = "1"
            """
cursor.execute(delete_sql)
_db.commit()