# 아들 키 예측 모델 학습

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import numpy as np

##########데이터 로드

train_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/%E1%84%8B%E1%85%A1%E1%84%87%E1%85%A5%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%A1%E1%84%83%E1%85%B3%E1%86%AF%E1%84%8F%E1%85%B5.xlsx?raw=true', sheet_name='train')
test_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/%E1%84%8B%E1%85%A1%E1%84%87%E1%85%A5%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%A1%E1%84%83%E1%85%B3%E1%86%AF%E1%84%8F%E1%85%B5.xlsx?raw=true', sheet_name='test')

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Father  755 non-null    float64
 1   Son     755 non-null    float64
dtypes: float64(2)
memory usage: 11.9 KB

In [2]:
train_df

      Father      Son
0    165.100  151.892
1    165.100  160.782
2    167.132  159.512
3    155.194  163.322
4    160.020  163.068
..       ...      ...
750  186.182  172.466
751  167.132  154.940
752  181.102  173.482
753  179.578  176.022
754  178.562  170.180

[755 rows x 2 columns]

In [4]:
##########데이터 분석

##########데이터 전처리

x_train = train_df.drop(['Son'], axis=1)
x_test = test_df.drop(['Son'], axis=1)
y_train = train_df['Son']
y_test = test_df['Son']

print(x_train.head())

    Father
0  165.100
1  165.100
2  167.132
3  155.194
4  160.020

In [8]:
##########모델 생성

model = RandomForestRegressor()

##########모델 학습

model.fit(x_train, y_train)

##########모델 검증

print(model.score(x_train, y_train)) #

print(model.score(x_test, y_test)) #0.251997790584662

0.3727952199077026
0.11411290908727012

In [11]:
##########모델 예측

x_test = np.array([
    [164.338]
])

y_predict = model.predict(x_test)

print(y_predict[0]) #169.66660924268297

172.69806703104894

C:\python38-64\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

# 현대 자동차 가격 예측 모델 학습
- 참고 https://makeit.tistory.com/137

In [13]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.ensemble import RandomForestRegressor
import numpy as np

##########데이터 로드

train_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/carprice_E1SUl6b.xlsx?raw=true', sheet_name='train')
test_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/carprice_E1SUl6b.xlsx?raw=true', sheet_name='test')

In [18]:
from sklearn.preprocessing import StandardScaler
##########데이터 분석

##########데이터 전처리

x_train = train_df.drop(['가격'], axis=1)
x_test = test_df.drop(['가격'], axis=1)
y_train = train_df['가격']
y_test = test_df['가격']

print(x_train.head())

print(x_train.columns) #Index(['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'], dtype='object')


transformer = make_column_transformer(
    (StandardScaler(), ['연비', '배기량']),
    (OneHotEncoder(sparse = False), ['종류', '연료', '변속기']),
    remainder='passthrough')


transformer.fit(x_train)
x_train = transformer.transform(x_train)
x_test = transformer.transform(x_test)

     년식   종류    연비   마력    토크   연료  하이브리드   배기량    중량 변속기
0  2015  준중형  11.8  172  21.0  가솔린      0  1999  1300  자동
1  2015  준중형  12.3  204  27.0  가솔린      0  1591  1300  자동
2  2015   소형  15.0  100  13.6  가솔린      0  1368  1035  수동
3  2014   소형  14.0  140  17.0  가솔린      0  1591  1090  자동
4  2015   대형   9.6  175  46.0   디젤      0  2497  1990  자동
Index(['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'], dtype='object')

In [19]:
x_train

array([[-1.79426718e-01, -2.24652846e-01,  0.00000000e+00, ...,
         2.10000000e+01,  0.00000000e+00,  1.30000000e+03],
       [-1.97864050e-02, -8.21967546e-01,  0.00000000e+00, ...,
         2.70000000e+01,  0.00000000e+00,  1.30000000e+03],
       [ 8.42271285e-01, -1.14844102e+00,  0.00000000e+00, ...,
         1.36000000e+01,  0.00000000e+00,  1.03500000e+03],
       ...,
       [ 1.39853908e-01, -2.30508873e-01,  0.00000000e+00, ...,
         4.10000000e+01,  0.00000000e+00,  1.66500000e+03],
       [ 1.70432897e+00, -2.24652846e-01,  0.00000000e+00, ...,
         1.93000000e+01,  1.00000000e+00,  1.58500000e+03],
       [ 4.59134534e-01,  6.81484770e-02,  1.00000000e+00, ...,
         4.50000000e+01,  0.00000000e+00,  1.69100000e+03]])

In [20]:
##########모델 생성

model = RandomForestRegressor()

##########모델 학습

model.fit(x_train, y_train)

##########모델 검증

print(model.score(x_train, y_train)) 

print(model.score(x_test, y_test))

0.9625193293112532
0.8155008694583471

In [21]:
##########모델 예측

x_test = [
    [2015, '대형', 6.8, 159, 23, 'LPG', 0,2359, 1935, '수동']
]
x_test = pd.DataFrame(x_test, columns=['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'])
x_test = transformer.transform(x_test)

y_predict = model.predict(x_test)

print(y_predict[0])

1924.39

### get_dummies를 이용해

In [22]:
train_df_dummy = pd.get_dummies(data = train_df, columns = ['종류', '연료', '변속기'], prefix = ['종류', '연료', '변속기']) 
test_df_dummy = pd.get_dummies(data = test_df, columns = ['종류', '연료', '변속기'], prefix = ['종류', '연료', '변속기'])

In [23]:
from sklearn.preprocessing import StandardScaler
##########데이터 분석

##########데이터 전처리

x_train = train_df_dummy.drop(['가격'], axis=1)
x_test = test_df_dummy.drop(['가격'], axis=1)
y_train = train_df_dummy['가격']
y_test = test_df_dummy['가격']

print(x_train.head())

print(x_train.columns) #Index(['년식', '종류', '연비', '마력', '토크', '연료', '하이브리드', '배기량', '중량', '변속기'], dtype='object')

     년식    연비   마력    토크  하이브리드   배기량    중량  종류_대형  종류_소형  종류_준중형  종류_중형  \
0  2015  11.8  172  21.0      0  1999  1300      0      0       1      0
1  2015  12.3  204  27.0      0  1591  1300      0      0       1      0
2  2015  15.0  100  13.6      0  1368  1035      0      1       0      0
3  2014  14.0  140  17.0      0  1591  1090      0      1       0      0
4  2015   9.6  175  46.0      0  2497  1990      1      0       0      0

   연료_LPG  연료_가솔린  연료_디젤  변속기_수동  변속기_자동
0       0       1      0       0       1
1       0       1      0       0       1
2       0       1      0       1       0
3       0       1      0       0       1
4       0       0      1       0       1
Index(['년식', '연비', '마력', '토크', '하이브리드', '배기량', '중량', '종류_대형', '종류_소형',
       '종류_준중형', '종류_중형', '연료_LPG', '연료_가솔린', '연료_디젤', '변속기_수동', '변속기_자동'],
      dtype='object')

In [24]:
x_train

,년식,연비,마력,토크,하이브리드,배기량,중량,종류_대형,종류_소형,종류_준중형,종류_중형,연료_LPG,연료_가솔린,연료_디젤,변속기_수동,변속기_자동
0,2015,11.8,172,21.0,0,1999,1300,0,0,1,0,0,1,0,0,1
1,2015,12.3,204,27.0,0,1591,1300,0,0,1,0,0,1,0,0,1
2,2015,15.0,100,13.6,0,1368,1035,0,1,0,0,0,1,0,1,0
3,2014,14.0,140,17.0,0,1591,1090,0,1,0,0,0,1,0,0,1
4,2015,9.6,175,46.0,0,2497,1990,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2015,8.5,290,34.8,0,3342,1901,0,0,0,1,0,1,0,0,1
67,2012,13.3,108,13.9,0,1396,1040,0,1,0,0,0,1,0,0,1
68,2015,12.8,186,41.0,0,1995,1665,0,0,1,0,0,0,1,0,1
69,2015,17.7,156,19.3,1,1999,1585,0,0,0,1,0,1,0,0,1
70,2015,13.8,202,45.0,0,2199,1691,1,0,0,0,0,0,1,0,1

In [26]:
##########모델 생성

model = RandomForestRegressor()

##########모델 학습

model.fit(x_train, y_train)

##########모델 검증

print(model.score(x_train, y_train)) 

print(model.score(x_test, y_test))

0.9718531590878827
0.8361514404469761

In [27]:
##########모델 예측

x_test = [
    [2015, 6.8, 159, 23, 0,2359, 1935, 0,0,1,0,0,1,0,0,1]
]
x_test = pd.DataFrame(x_test, columns=x_train.columns)
y_predict = model.predict(x_test)

print(y_predict[0])

1945.52

# 네이버 쇼핑 TV 가격 예측 모델 학습

In [28]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import numpy as np

##########데이터 로드

train_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A5TV%E1%84%80%E1%85%A1%E1%84%80%E1%85%A7%E1%86%A8_%E1%84%8E%E1%85%AC%E1%84%8C%E1%85%A9%E1%86%BC.xlsx?raw=true', sheet_name='train')
test_df = pd.read_excel('https://github.com/cranberryai/todak_todak_python/blob/master/machine_learning/regression/%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A5TV%E1%84%80%E1%85%A1%E1%84%80%E1%85%A7%E1%86%A8_%E1%84%8E%E1%85%AC%E1%84%8C%E1%85%A9%E1%86%BC.xlsx?raw=true', sheet_name='test')

In [29]:
train_df

         ID      판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0         8   396240    55   0  2160     1    0    1     0     0   3     1
1         9   412870    55   0  2160     1    0    1     0     0   3     1
2        10   414590    55   0  2160     1    0    1     0     0   3     1
3        14   418000    55   0  2160     1    0    1     0     0   3     1
4        15   419000    55   0  2160     1    0    1     0     0   3     1
...     ...      ...   ...  ..   ...   ...  ...  ...   ...   ...  ..   ...
6995  20670  1271670    49   0  1080     1    0    1     0     0   2     6
6996  20672  1441670    49   0  1080     1    0    1     0     0   2     6
6997  20673  1441680    49   0  1080     1    0    1     0     0   2     6
6998  20675  1571400    49   0  1080     1    0    1     0     0   2     6
6999  20676  2894380    49   0  1080     1    0    1     0     0   2     6

[7000 rows x 12 columns]

In [30]:
search_df = train_df[(train_df['LCD']==0) & (train_df['LED']==0) & (train_df['OLED']==0) & (train_df['QLED']==0)]
search_df

         ID      판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
763    2258  1450730    65   0  2160     1    0    0     0     0   2     2
764    2260  1450720    65   0  2160     1    0    0     0     0   2     2
765    2262  1457990    65   0  2160     1    0    0     0     0   2     2
766    2265  1458000    65   0  2160     1    0    0     0     0   2     2
767    2270  1458490    65   0  2160     1    0    0     0     0   2     2
...     ...      ...   ...  ..   ...   ...  ...  ...   ...   ...  ..   ...
6559  19405  1411000    65   0  2160     0    0    0     0     0   2     0
6560  19408  1442780    65   0  2160     0    0    0     0     0   2     0
6561  19410  1491900    65   0  2160     0    0    0     0     0   2     0
6562  19411  1516120    65   0  2160     0    0    0     0     0   2     0
6563  19415  1569610    65   0  2160     0    0    0     0     0   2     0

[364 rows x 12 columns]

In [31]:
##########데이터 분석

##########데이터 전처리

print(train_df.info())

search_df = train_df[(train_df['LCD']==0) & (train_df['LED']==0) & (train_df['OLED']==0) & (train_df['QLED']==0)]
train_df = train_df.drop(search_df.index, axis=0)
search_df = test_df[(test_df['LCD']==0) & (test_df['LED']==0) & (test_df['OLED']==0) & (test_df['QLED']==0)]
test_df = test_df.drop(search_df.index, axis=0)

print(train_df.info())

x_train = train_df.drop(['ID', '판매가'], axis=1)
x_test = test_df.drop(['ID', '판매가'], axis=1)
y_train = train_df['판매가']
y_test = test_df['판매가']

print(x_train.head())


x_train = x_train.to_numpy()
x_test = x_test.to_numpy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      7000 non-null   int64
 1   판매가     7000 non-null   int64
 2   화면크기    7000 non-null   int64
 3   형태      7000 non-null   int64
 4   해상도     7000 non-null   int64
 5   화면비율    7000 non-null   int64
 6   LCD     7000 non-null   int64
 7   LED     7000 non-null   int64
 8   OLED    7000 non-null   int64
 9   QLED    7000 non-null   int64
 10  단자      7000 non-null   int64
 11  부가기능    7000 non-null   int64
dtypes: int64(12)
memory usage: 656.3 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6636 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6636 non-null   int64
 1   판매가     6636 non-null   int64
 2   화면크기    6636 non-null   int64
 3   형태      6636 non-null   int64
 4   해상도     6636 non-null   int64
 5   화면비율    6636 non-null   int64
 6   LCD     6636 non-null   int64
 7   LED     6636 non-null   int64
 8   OLED    6636 non-null   int64
 9   QLED    6636 non-null   int64
 10  단자      6636 non-null   int64
 11  부가기능    6636 non-null   int64
dtypes: int64(12)
memory usage: 674.0 KB
None
   화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0    55   0  2160     1    0    1     0     0   3     1
1    55   0  2160     1    0    1     0     0   3     1
2    55   0  2160     1    0    1     0     0   3     1
3    55   0  2160     1    0    1     0     0   3     1
4    55   0  2160     1    0    1     0     0   3     1

In [32]:
##########모델 생성

model = RandomForestRegressor()

##########모델 학습

model.fit(x_train, y_train)

##########모델 검증

print(model.score(x_train, y_train)) #

print(model.score(x_test, y_test))

0.8313843751432334
0.7850949695692508

In [33]:
##########모델 예측

x_test = np.array([
    [55, 0, 2160, 1, 0, 1, 0, 0, 3, 1]
])

y_predict = model.predict(x_test)

print(y_predict[0])

430185.2652997702