1번 문제
========
1. num_1 폴더의 uriage 파일을 pandas를 이용하여 데이터프레임으로 불러온다. 
2. purchase_date 컬럼의 데이터 타입을 datetime을 변경한다. 
3. item_name 컬럼의 값을 대문자로 변경한다. 
4. item_name 컬럼의 공백을 지워준다. 
    * str - replace 해준다.

5. item_name 컬럼을 기준으로 오름차순 정렬한다. 
6. 데이터의 결측치가 존재하는지 확인한다. 
7. item_price 컬럼의 결측치의 값을 해당하는 item_name의 맥스값으로 치환하여 준다.

In [ ]:
# 1번 문제
import os
import pandas as pd

path = "./num_2/"
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith(".csv")]

df_list = []
for i in file_list_py :
    data = pd.read_csv(path + i)
    globals()["df_" + str(i)[:-4]] = pd.DataFrame(data)
    names = "df_" + str(i)[:-4]
    df_list.append(names)

In [ ]:
# 7번 문제
uriage_max = uriage_df.groupby("item_name").max("item_price")
price_dict = uriage_max["item_price"].to_dict()

for i, dt in enumerate(uriage_df["item_price"]) :
    k = price_dict[uriage_df["item_name"].iloc[i]]
    if dt == pd.notnull :
        continue
    else :
        uriage_df["item_price"].iloc[i] = k

In [ ]:
# num.columns.values[1] = 'ITEM_NAME'
# num.rename(columns={'purchase_date' : 'datetime'}, inplace= True)

# capitals = name.applymap(str.upper) #일괄 대문자 변경
# capitals

# df.columns = [x.upper() for x in df.colunms]

# df_sample.columns.values

# df_s = df.sort_values(by=["c1"], ascending=[True]) 
# display_side_by_side(df, df_s)

# uriage_data['item_']

In [2]:
import pandas as pd 

uri = pd.read_csv('./num_1/uriage.csv')
uri_1 = uri.rename(columns={'purchase_date' : 'datetime'})
uri_2 = uri_1.sort_values('item_name')
uri_2.columns.values[1] = 'ITEM_NAME'
uri_2.isna().sum()
uri_3 = uri_2.fillna('max')
uri_3.reset_index(inplace=True)
uri_3

# flg_is_null = uriage_data['item_price'].isnull()
# for trg in list(uriage_data.loc[flg_is_null, 'item_name'].unique()):
#     price = uriage_data.

      index          datetime ITEM_NAME item_price customer_name
0        51  2019-01-02 13:26     상 품 n     1400.0           김범준
1       180  2019-03-02 15:38      상품 E      500.0           김시율
2       107   2019-03-02 1:53      상품 M     1300.0           김동건
3       161  2019-03-04 16:39      상품 P     1600.0           김승윤
4       106   2019-05-03 1:15      상품 S     1900.0           김동현
...     ...               ...       ...        ...           ...
2994   1499  2019-04-24 14:12       상품s     1900.0           김현성
2995   1524  2019-02-28 15:15       상품t     2000.0           김성민
2996   1336   2019-02-18 8:16       상품v     2200.0           김연호
2997   2031  2019-06-05 13:37       상품x     2400.0           김수민
2998     26   2019-05-16 4:45       상품y     2500.0           김태현

[2999 rows x 5 columns]

2번 문제 
===========

1. num_2 폴더 내에 있는 csv 파일을 모두 데이터프렘으로 불러온다. 
2. transaction_1과 transaction_2를 유니언 결합을 한다. 
3. transaction_detail_1과 transaction_detail_2를 유니언 결합을 한다. 
4. 2,3 번의 데이터프레임의 값을 조인 결합을 한다. 
5. 4번 작업한 데이터프레임을 customer_master, item_master 와 조인 결합한다. 
6. quantity와 item_price의 곱한 값으로 price라는 컬럼을 생성한다. 
7. payment_date컬럼의 데이터형태를 datetime으로 변경한다. 
8. payment_date값의 년 월값만 추출하여 payment_month 컬럼을 생성한다. 
9. groupby를 이용하여 월별, 상품별 price와 quantity의 합계를 출력한다.

In [ ]:
cu = pd.read_csv('./num_2/customer_master.csv')
item = pd.read_csv('./num_2/customer_master.csv')
t_1 = pd.read_csv('./num_2/customer_master.csv')
t_2 = pd.read_csv('./num_2/customer_master.csv')
t_3 = pd.read_csv('./num_2/customer_master.csv')
t_4 = pd.read_csv('./num_2/customer_master.csv')

3번 문제
==========

1. num_3 폴더내의 drink 파일을 데이터프레임으로 불러온다. 
2. 대륙 컬럼인 continent 결측 데이터를 OT로 지정한다. 
3. 대륙별 spirit_servings의 평균, 최소, 최대, 합계를 계산한다. 
4. 전체 평균보다 많은 알코올 섭취하는 대륙을 구한다. 
5. 3번 과정의 데이터를 바그래프를 이용하여 시각화 한다. 

어디안에 어디것을 쓴다.

In [ ]:
# 4번 문제
group_mean = df_drinks.groupby("continent")["spirit_servings"].mean()
group_mean[group_mean>describe["mean"]]

In [ ]:
import plotly.express as px

df_describe = pd.DataFrame(describe)
fig = px.bar(df_describe[["mean", "min", "max", "sum"]].T, text_auto=True, barmode="group")
fig.show()

In [12]:
import matplotlib.pyplot as plt

drink = pd.read_csv('./num_3/drinks.csv')
drink_1 = drink.fillna('OT')
drink_2 = drink_1['spirit_servings'].mean().min().max()
mean = drink['spirit_servings'].mean().round(2)
min = drink['spirit_servings'].min()
max = drink['spirit_servings'].max()
sum = drink['spirit_servings'].sum()


if i in drink 

# uri_3 = uri_2.fillna('max')
# drink['continent'].fillna(OT)
print(mean, min, max, sum)
# 
# 
#

80.99 0 438 15632